---
import Project from "../Project.astro";
---

<Project
  pretitle="University Project"
  title="Tickify"
  subtitle="Grading: Best project of the year!"
>
  <p>
    Tickify was a meant to teach us <strong>Web-Technologies</strong> like
    <strong>HTML</strong>, <strong>CSS</strong> and <strong>PHP</strong>. We
    specifically had to implement the project using zero client-side code. The
    end goal was to create an Event-Ticket <strong>online shop</strong> where customers
    could order tickets, payment processing, see and manage orders, and Event-Managers
    could create and manage their events.
  </p>
</Project>
