---
import Project from "../Project.astro";
---

<Project
  pretitle="University Project"
  title="Fluid Transport Company"
  subtitle="Grading: Best project of the year!"
  link=""
>
  <p>
    This project was meant to teach us the world of <strong
      >interconnected Business-Applications</strong
    >. We had to make a management software for a fictional fluid transport
    company, which had to handle everything the company might need: From the
    drivers needing directions, employees handling orders and customers entering
    their demands. The software even kept track of the companies inventory and
    finances. The whole application was written in <strong>Java</strong> using <strong
      >Spring</strong
    > as the backend and <strong>OpenStreetMaps</strong> for navigation.
  </p>
</Project>
