---
import Project from "../Project.astro";
---

<Project
  pretitle="Main project"
  title="Orbital"
  subtitle="Cross-platform real-time graphical rendering engine"
  link="..."
  image="/images/projects/DamagedHelmet.png"
>
  <p>
    Orbital is a sophisticated, cross-platform real-time graphical rendering
    engine and framework designed to provide a robust foundation for <strong
      >next-generation visual computing</strong
    >. It serves as a highly versatile core rendering pipeline, capable of
    powering everything from <strong>complex 2D/3D simulations and games</strong
    > to <strong>scientific computing visualization</strong> and <strong
      >offline rendering</strong
    > applications.
  </p>
  <br />
  <p>
    The primary objective of Orbital is to bridge established, industry-standard
    rendering techniques with bleeding-edge, experimental methods. The system is
    designed with extreme portability in mind. While the core logic is in <strong
      >Rust</strong
    >, the rendering interface is decoupled, allowing integration via <strong
      >WebAssembly (WASM/WASI)</strong
    >, enabling cross-language access from almost any scripting environment.
  </p>
  <br />
  <p>
    Orbital is using <strong>WGPU</strong> as a HAL (= Hardware Abstraction Layer)
    to interface with all current graphic APIs like <strong>OpenGL</strong>, <strong
      >Vulkan</strong
    >, <strong>DirectX 11 & 12</strong>, <strong>Metal</strong> and <strong
      >WebGPU</strong
    >. Additionally, <strong>WGSL</strong> is used as a translation layer for shader
    languages for the various graphic APIs.
  </p>
  <br />
  <p>
    Orbital has a year long history and originally started under the name <em
      >Akimo</em
    > in <strong>Java</strong> with <strong>LWJGL</strong>, eventually moving to <strong
      >C++</strong
    > with <strong>Vulkan</strong>.
  </p>
</Project>
