---
import Project from "../Project.astro";
---

<Project
  pretitle="University Project"
  title="Traffic light management software"
  subtitle="Grading: Best project of the year!"
>
  <p>
    We had to implement a traffic light system management software, which would
    teach us <strong>reactive programming</strong>. We started out with just a
    single traffic light simulation, then gradually expanded it to be a much
    more complex multi-street simulation. At the end we even added some special
    conditions, modes, specialized traffic lights and were able to keep the
    simulated vehicle and pedestrian traffic as efficient as possible. The
    application was fully written in <strong>Java</strong>.
  </p>
</Project>
