---
import Project from "../Project.astro";
---

<Project
  pretitle="Internship project"
  title="Vodafone Qualitics"
  subtitle="Grading: 9.8 / 10.0"
>
  <p>
    During the mandatory internship semester of my study program I partnered up
    with Vodafone Germany. I ended up designing and implementing a prototype
    software using <strong>Raspberry Pis</strong> (and similar small-scale <strong
      >edge devices</strong
    >) which would analyze the infamous <em>last meters</em> an ISP does not have
    control over: From the street connection to the customers home connection. The
    software would be <strong>fully automatic</strong>. All the customer had to
    do is receive the device and plug it into their router. <strong
      >Tests</strong
    > the device would take could be easily designed. Each customer would receive
    a <strong>specialized collection</strong> of tests to be run, specifically tailored
    to <strong>their</strong> reported problems. Enough data would be gathered and
    <strong>automatically analyzed</strong> to pinpoint issues exactly <strong
      >without</strong
    > troublesome technician appointments. The software could identify any set of
    common home network issues, such as insufficient bandwidth, network overload,
    spotty connections, partially broken ISP lines, routing issues, interference and
    many more. A <strong>web-interface</strong> was provided for the customer and
    ISP to easily see what is going on and what fixes are recommended. The whole stack
    was build using <strong>Rust</strong>, <strong>HTML</strong>, <strong
      >SASS</strong
    >, <strong>Figma</strong>, <strong>Visual Paradigm</strong> and <strong
      >various languages</strong
    > for the test suites.
  </p>
</Project>
