---
import Project from "../../Project.astro";
---

<Project
  pretitle="University Project"
  title="Fluid Transport Company"
  subtitle="Grading: Best project of the year!"
>
  <p>
    A comprehensive, full-stack management software designed to automate and
    centralize the entire operational workflow for a large-scale fluid transport
    company. The system would support multiple <strong>user interactions</strong
    >, from customers ordering to drivers navigating to the finance and
    logistics departments tracking everything. All features where present in a
    single <strong>unified platform</strong> tailored for the customers needs.
  </p>
  <br />
  <p>
    The solution was built using modern enterprise technologies: <strong
      >Java</strong
    > and the <strong>Spring</strong> framework for scalable backend development,
    and integrated <strong>OpenStreetMap</strong> to power advanced, dynamic routing
    capabilities.
  </p>
</Project>
