---
import Project from "../../Project.astro";
---

<Project
  pretitle="University Project"
  title="GeoLocation"
  subtitle="Grading: Best project of the year!"
>
  <p class="has-text-align-left">
    We took inspiration from the game "GeoGuesser" and turned it into a fun
    interactive <strong>Android app</strong> using a <strong>Cloud-Stack</strong
    > from <strong>IBM-Cloud</strong>. Users could submit their own locations
    with pictures for others to guess, there was a global leaderboard and some
    smaller community tools.
  </p>
</Project>
