---
import BaseHead from "../../components/BaseHead.astro";
import Footer from "../../components/en/Footer.astro";
import Header from "../../components/Header.astro";
import Intro from "../../components/en/Intro.astro";
import AboutMe from "../../components/en/AboutMe.astro";
import Education from "../../components/en/Education.astro";
import Projects from "../../components/en/Projects.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../../consts";
---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    </head>
    <body>
        <Header />
        <main>
            <Intro />
            <AboutMe />
            <hr />
            <Projects />
            <Education />
            <Footer />
        </main>
    </body>
</html>
