<section id="about_me" class="has-text-centered mt-4 mx-4">
  <h1 class="title is-1">Hello there!</h1>
  <p>
    My name is <b>Lukas Weber</b>, online I usually go by <b>@SakulFlee</b>. I'm
    a <b>Software Engineering Student</b> from <b>Germany</b>. My fascination
    with computers started early, leading me to pick up programming at a <b
      >very young age</b
    >. That passion has only <b>grown</b> over the years, eventually driving me to
    the <b>Netherlands</b> to study <b>Software Engineering</b>. This is my
    place to share my thoughts, ideas, and findings. I’ll be documenting my own
    projects, sharing internship experiences, and providing resources that I
    hope will help or inspire others. I may also share thoughts unrelated to the
    IT fields.
  </p>
  <div class="columns">
    <div class="column">
      <h2 class="title mt-4">Programming Languages</h2>
      <p>
        I started coding at a very young age with Visual Basic and C#, made
        websites using HTML, CSS and JavaScript and eventually continued with
        Java, C/C++ and Python. By now, I am able to code in most modern
        languages and find it easy to adapt between different tech stacks. In
        fact, most of my projects are multilingual! Eventually, I started coding
        in Rust and ever since then I haven’t looked back. I would say that I am
        most proficient in Rust. At University, I learned a couple more
        languages, such as TypeScript and PHP, and a lot about how software is
        designed. We covered everything from the planing stage (via UML and
        Visual Paradigm) up to the actual implementation and delivery to the
        customer.
      </p>
    </div>
    <div class="column">
      <h2 class="title mt-4">Engines & Real-Time Rendering</h2>
      <p>
        I have a specific fascination with real-time graphical rendering
        engines; or more simply: Game Engines (which, as it turns out, are
        useful for much more than just games!). Back in middle school, I started
        a learning project called “Akimo”. It began as a Java-based CPU renderer
        that achieved surprisingly high frame rates for its architecture; it
        even handled 3D! As I became more adept at instructing GPUs to do the
        heavy lifting, I progressed through various graphics APIs, moving from
        OpenGL to Vulkan and eventually WGPU. At that point, I renamed the
        project “Orbital” and performed a complete rewrite in Rust. Today, it
        stands as one of my largest and proudest achievements.
      </p>
    </div>
  </div>
</section>
