<section id="about_me" class="has-text-centered mt-4 mx-4">
  <h1 class="title is-1">Hello there!</h1>
  <p>
    My name is <strong>Lukas Weber</strong>, online I usually go by <strong
      >@SakulFlee</strong
    >. I'm a <strong>Software Engineering Student</strong> from <strong
      >Germany</strong
    >. My fascination with computers started early, leading me to pick up
    programming at a <b>very young age</b>. That passion has only <strong
      >grown</strong
    > over the years, eventually driving me to the <strong>Netherlands</strong> to
    study <strong>Software Engineering</strong>. This is my place to share my
    thoughts, ideas, and findings. I’ll be documenting my own projects, sharing
    internship experiences, and providing resources that I hope will help or
    inspire others. I may also share thoughts unrelated to the IT fields.
  </p>
  <div class="columns">
    <div class="column">
      <h2 class="title mt-4">Programming Languages</h2>
      <p>
        I started coding at a very young age with <strong>Visual Basic</strong> and
        <strong>C#</strong>, made websites using <strong>HTML</strong>, <strong
          >CSS</strong
        > and <strong>JavaScript</strong> and eventually continued with
        <strong>Java</strong>, <strong>C/C++</strong> and <strong>Python</strong
        >. By now, I am able to code in most modern languages and find it easy
        to adapt between different <strong>tech stacks</strong>. In fact, most
        of my projects are multilingual! Eventually, I started coding in <strong
          >Rust</strong
        > and ever since then I haven’t looked back. I would say that I am most proficient
        in <strong>Rust</strong>. At University, I learned a couple more
        languages, such as <strong>TypeScript</strong> and <strong>PHP</strong>,
        and a lot about how software is designed. We covered everything from the <strong
          >planing stage</strong
        > (via <strong>UML</strong> and
        <strong>Visual Paradigm</strong>) up to the actual implementation and
        delivery to the customer.
      </p>
    </div>
    <div class="column">
      <h2 class="title mt-4">Engines & Real-Time Rendering</h2>
      <p>
        I have a specific fascination with <strong
          >real-time graphical rendering engines</strong
        >; or more simply: <strong>Game Engines</strong> (which, as it turns out,
        are useful for much more than just games!). Back in middle school, I started
        a learning project called “Akimo”. It began as a <strong
          >Java-based CPU renderer</strong
        >
        that achieved surprisingly high frame rates for its architecture; it even
        handled 3D! As I became more adept at instructing GPUs to do the heavy lifting,
        I progressed through various graphics APIs, moving from
        <strong>OpenGL</strong> to <strong>Vulkan</strong> and eventually <strong
          >WGPU</strong
        >. At that point, I renamed the project “Orbital” and performed a
        complete rewrite in <strong>Rust</strong>. Today, it stands as one of my
        largest and proudest achievements.
      </p>
    </div>
  </div>
</section>
