---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const { href, class: className, ...props } = Astro.props;
const pathname = Astro.url.pathname.replace(import.meta.env.BASE_URL, '');
const subpath = pathname.match(/[^\/]+/g);
const isActive = href === pathname || href === '/' + (subpath?.[0] || '');
---

<a href={href} class:list={["navbar-item", "px-4", "has-text-white", className, {active: isActive}]}>
	<slot/>
</a>
<style>
.navbar-item {
	text-decoration: none;
}

.navbar-item.active {
		text-decoration: underline;
}
</style>

