---
import type { HTMLAttributes } from "astro/types";

interface ProjectData {
  title: string;
  subtitle: string;
  link?: string;
}

type Props = ProjectData & HTMLAttributes<"div">;

const { title, subtitle, link, ...props } = Astro.props;
---

<div class="column" {...props}>
  <h2 class="title">{title}</h2>
  <h3 class="subtitle">{subtitle}</h3>

  <slot />

  {
    link && (
      <>
        <br />
        <b>LINK HERE</b>
      </>
    )
  }
</div>
