<section id="projects" class="has-text-centered mt-4 mx-4">
  <div>
    <h1 class="title is-1">Projects</h1>
    <div class="columns">
      <div class="column">
        <p>
          <em>Orbital</em> is a <strong
            >cross-platform real-time graphical rendering engine</strong
          > &amp;<strong> framework</strong> written in <strong>Rust</strong>.
          The goal of this project is to bridge well established <strong
            >industry-standard
          </strong>techniques with <strong>upcoming (next-gen)</strong> and <strong
            >experimental</strong
          > techniques to form a robust new foundation for <strong
            >next-gen visual computing</strong
          >. In some sense <em>Orbital</em> is a <strong
            >2D- &amp; 3D-Game Rendering Engine</strong
          >, but it can be used in countless more ways: from Computing to
          Offline Rendering to normal every day Apps. While the core language is <strong
            >Rust</strong
          >, almost any language can be used via the <strong
            >WebAssembly (WASM &amp; WASI)</strong
          > programming interface. The core is build on <strong>WGPU</strong>,
          which itself is an implementation of <strong>WebGPU</strong> and is used
          by modern browsers. <strong>WGPU</strong> acts as a <strong
            >Hardware Abstraction Layer</strong
          > for Orbital. For shading we utilize <strong>WGSL</strong>, a shading
          language specifically designed for <strong>WebGPU</strong>.<br /><br
          />Initially, this project was known under the name <em>Akimo</em> and originated
          in <strong>Java</strong> as a <strong>CPU-only</strong>
          <strong>2D- &amp; 3D-Rendering Engine</strong>. Eventually, it moved
          to LWJGL3 from <strong>OpenGL</strong> to <strong>Vulkan</strong>,
          then it was ported to <strong>C++</strong> with <strong>Vulkan</strong
          > and eventually arrived at <strong>Rust</strong> with initially <strong
            >Vulkan</strong
          >, later <strong>WGPU</strong>, where it was renamed to <em
            >Orbital</em
          >. I have been working on this project for years.
        </p>

        <b>IMAGE HERE</b>
        <b>LINK HERE</b>
      </div>
    </div>
    <h2 class="title mt-4">Orbital</h2>

    Vodafone Qualitics Grading: 9.8 / 10.0
    <p>
      During the mandatory internship semester of my study program I partnered
      up with Vodafone Germany. I ended up designing and implementing a
      prototype software using <strong>Raspberry Pi</strong>'s (and similar
      small-scale <strong>edge devices</strong>) which would analyze the
      infamous "last meters" an ISP does not have control over: From the street
      connection to the customer. The software would be <strong
        >fully automatic</strong
      >, the customer just has to receive the device and plug it into their
      router. Tests the device would take could be easily designed. Each
      customer would receive a <strong>specialized collection</strong> of tests to
      be run, specifically tailored to their reported problems. Enough data would
      be gathered and <strong>automatically analyzed</strong> to pinpoint issues exactly
      without troublesome technician appointments. The software could identify any
      set of common home network issues, such as insufficient bandwidth, network overload,
      spotty connections, partially broken ISP lines, routing issues, interference
      and many more. A <strong>web-interface</strong> was provided for the customer
      and ISP to easily see what is going on and what fixes are recommended. The whole
      stack was build using <strong>Rust</strong>, <strong>HTML</strong>, <strong
        >SASS</strong
      >, <strong>Figma</strong>, <strong>Visual Paradigm</strong> and <strong
        >various languages</strong
      > for the test suites.
    </p>
    Due to internship regulations I cannot publish the project publicly.

    <div
      class="wp-block-group is-layout-grid wp-container-core-group-is-layout-965512f0 wp-block-group-is-layout-grid"
      style="padding-right:0;padding-left:0"
    >
      <div
        class="wp-block-group has-global-padding is-layout-constrained wp-container-core-group-is-layout-a35945ca wp-block-group-is-layout-constrained"
        style="padding-top:var(--wp--preset--spacing--30);padding-right:var(--wp--preset--spacing--30);padding-bottom:var(--wp--preset--spacing--30);padding-left:var(--wp--preset--spacing--30)"
      >
        <h3 class="wp-block-heading has-text-align-center">
          Uni Project: Tickify
        </h3>

        <h4 class="wp-block-heading has-text-align-center">
          Grading: Best student project of the year!
        </h4>

        <div style="height:30px" aria-hidden="true" class="wp-block-spacer">
        </div>

        <p>
          Tickify was a meant to teach us <strong>Web-Technologies</strong> like
          <strong>HTML</strong>, <strong>CSS</strong> and <strong>PHP</strong>.
          We specifically had to implement the project using zero client-side
          code. The end goal was to create an Event-Ticket online shop where
          customers could order tickets (incl. paying for them), see and manage
          orders, and Event-Managers could create and manage their events.
        </p>

        <div style="height:30px" aria-hidden="true" class="wp-block-spacer">
        </div>

        <p class="has-text-align-center">
          Due to University regulations I cannot publish the project publicly.
        </p>
      </div>

      <div
        class="wp-block-group has-global-padding is-layout-constrained wp-container-core-group-is-layout-a35945ca wp-block-group-is-layout-constrained"
        style="padding-top:var(--wp--preset--spacing--30);padding-right:var(--wp--preset--spacing--30);padding-bottom:var(--wp--preset--spacing--30);padding-left:var(--wp--preset--spacing--30)"
      >
        <h3 class="wp-block-heading has-text-align-center">
          Uni Project: Fluid Transport Company
        </h3>

        <h4 class="wp-block-heading has-text-align-center">
          Grading: Best student project of the year!
        </h4>

        <div style="height:30px" aria-hidden="true" class="wp-block-spacer">
        </div>

        <p>
          This project was meant to teach us the world of <strong
            >interconnected Business-Applications</strong
          >. We had to make a management software for a fictional fluid
          transport company, which had to handle everything the company might
          need: From the drivers needing directions, employees handling orders
          and customers entering their demands. The software even kept track of
          the companies inventory and finances. The whole application was
          written in <strong>Java</strong> using <strong>Spring</strong> as the backend
          and <strong>OpenStreetMaps</strong> for navigation.
        </p>

        <div style="height:30px" aria-hidden="true" class="wp-block-spacer">
        </div>

        <p class="has-text-align-center">
          Due to University regulations I cannot publish the project publicly.
        </p>
      </div>

      <div
        class="wp-block-group has-global-padding is-layout-constrained wp-container-core-group-is-layout-a35945ca wp-block-group-is-layout-constrained"
        style="padding-top:var(--wp--preset--spacing--30);padding-right:var(--wp--preset--spacing--30);padding-bottom:var(--wp--preset--spacing--30);padding-left:var(--wp--preset--spacing--30)"
      >
        <h3 class="wp-block-heading has-text-align-center">
          Uni Project: Traffic light management software
        </h3>

        <h4 class="wp-block-heading has-text-align-center">
          Grading: Best student project of the year!
        </h4>

        <div style="height:30px" aria-hidden="true" class="wp-block-spacer">
        </div>

        <p>
          We had to implement a traffic light system management software, which
          would teach us <strong>reactive programming</strong>. We started out
          with just a single traffic light simulation, then gradually expanded
          it to be a much more complex multi-street simulation. At the end we
          even added some special conditions, modes, specialized traffic lights
          and were able to keep the simulated vehicle and pedestrian traffic as
          efficient as possible. The application was fully written in <strong
            >Java</strong
          >.
        </p>

        <div style="height:30px" aria-hidden="true" class="wp-block-spacer">
        </div>

        <p class="has-text-align-center">
          Due to University regulations I cannot publish the project publicly.
        </p>
      </div>

      <div
        class="wp-block-group has-global-padding is-layout-constrained wp-container-core-group-is-layout-299a9126 wp-block-group-is-layout-constrained"
        style="margin-top:0;margin-bottom:0;padding-top:var(--wp--preset--spacing--30);padding-right:var(--wp--preset--spacing--30);padding-bottom:var(--wp--preset--spacing--30);padding-left:var(--wp--preset--spacing--30)"
      >
        <h3 class="wp-block-heading has-text-align-center">
          Uni Project: GeoLocation
        </h3>

        <h4 class="wp-block-heading has-text-align-center">
          Grading: Best student project of the year!
        </h4>

        <div style="height:30px" aria-hidden="true" class="wp-block-spacer">
        </div>

        <p class="has-text-align-left">
          We took inspiration from the game “GeoGuesser” and turned it into a
          fun interactive <strong>Android app</strong> using a <strong
            >Cloud-Stack</strong
          > from <strong>IBM-Cloud</strong>. Users could submit their own
          locations with pictures for others to guess, there was a global
          leaderboard and some smaller community tools.
        </p>

        <div style="height:30px" aria-hidden="true" class="wp-block-spacer">
        </div>

        <p class="has-text-align-center">
          Due to University regulations I cannot publish the project publicly.
        </p>
      </div>
    </div>
  </div>
</section>
