---
import type { HTMLAttributes } from "astro/types";

interface ProjectData {
  pretitle?: string;
  title: string;
  subtitle: string;
  image?: string;
  link?: string;
}

type Props = ProjectData & HTMLAttributes<"div">;

const { pretitle, title, subtitle, link, image, ...props } = Astro.props;
---

<div class="pt-6" {...props}>
  <div>
    {
      pretitle && (
        <span class="is-size-4 has-text-weight-bold">{pretitle}: </span>
      )
    }
    <span class="is-size-3 has-text-white has-text-weight-bold">{title}</span>
    <div class="is-size-5 p-0 m-0">{subtitle}</div>
  </div>

  <slot />

  {
    image && (
      <>
        <br />
        <img src={image} />
      </>
    )
  }

  {
    link && (
      <>
        <br />
        <b>LINK HERE</b>
      </>
    )
  }
</div>
