<section id="about_me" class="has-text-centered mt-4 mx-4">
  <h1 class="title is-1">Hallo!</h1>
  <p>
    Mein Name ist <strong>Lukas Weber</strong>, online bin ich meistens als <strong
      >@SakulFlee</strong
    > unterwegs. Ich bin ein <strong>Software-Engineering Student</strong> aus <strong
      >Deutschland</strong
    >. Meine Faszination für Computer begann früh, was mich dazu brachte, schon in <b>sehr jungem Alter</b> mit dem Programmieren anzufangen. Diese Leidenschaft ist über die Jahre nur <strong>gewachsen</strong> und hat mich schließlich in die <strong>Niederlande</strong> geführt, um <strong>Software Engineering</strong> zu studieren. Dies ist mein Ort, um meine Gedanken, Ideen und Erkenntnisse zu teilen. Ich werde meine eigenen Projekte dokumentieren, Praktikumserfahrungen teilen und Ressourcen bereitstellen, von denen ich hoffe, dass sie anderen helfen oder sie inspirieren. Vielleicht teile ich auch Gedanken, die nichts mit der IT zu tun haben.
  </p>
  <div class="columns">
    <div class="column">
      <h2 class="title mt-4">Programmiersprachen</h2>
      <p>
        Ich habe in sehr jungem Alter mit <strong>Visual Basic</strong> und
        <strong>C#</strong> angefangen, Websites mit <strong>HTML</strong>, <strong
          >CSS</strong
        > und <strong>JavaScript</strong> erstellt und schließlich mit
        <strong>Java</strong>, <strong>C/C++</strong> und <strong>Python</strong> weitergemacht. Inzwischen kann ich in den meisten modernen Sprachen programmieren und finde es einfach, mich an verschiedene <strong>Tech-Stacks</strong> anzupassen. Tatsächlich sind die meisten meiner Projekte mehrsprachig! Schließlich fing ich an, in <strong>Rust</strong> zu programmieren, und seitdem habe ich nicht mehr zurückgeblickt. Ich würde sagen, dass ich in <strong>Rust</strong> am versiertesten bin. An der Universität habe ich noch ein paar weitere Sprachen gelernt, wie <strong>TypeScript</strong> und <strong>PHP</strong>, und viel darüber erfahren, wie Software entworfen wird. Wir haben alles abgedeckt, von der <strong>Planungsphase</strong> (über <strong>UML</strong> und <strong>Visual Paradigm</strong>) bis hin zur eigentlichen Implementierung und Auslieferung an den Kunden.
      </p>
    </div>
    <div class="column">
      <h2 class="title mt-4">Engines & Echtzeit-Rendering</h2>
      <p>
        Ich habe eine besondere Faszination für <strong>Echtzeit-Grafik-Rendering-Engines</strong>; oder einfacher gesagt: <strong>Game Engines</strong> (die, wie sich herausstellt, für viel mehr als nur Spiele nützlich sind!). In der Mittelstufe startete ich ein Lernprojekt namens „Akimo“. Es begann als ein <strong>Java-basierter CPU-Renderer</strong>, der für seine Architektur überraschend hohe Frameraten erzielte; er konnte sogar 3D! Als ich geschickter darin wurde, GPUs anzuweisen, die schwere Arbeit zu übernehmen, arbeitete ich mich durch verschiedene Grafik-APIs, von <strong>OpenGL</strong> über <strong>Vulkan</strong> bis hin zu <strong>WGPU</strong>. Zu diesem Zeitpunkt benannte ich das Projekt in „Orbital“ um und führte einen kompletten Rewrite in <strong>Rust</strong> durch. Heute ist es einer meiner größten und stolzesten Erfolge.
      </p>
    </div>
  </div>
</section>
