---
import { Icon } from "astro-icon/components";
---

<section class="has-text-centered">
  <h1 class="title is-1 mt-4 mb-0">Bildung</h1>
  <div class="columns">
    <div class="column">
      <span class="icon is-large">
        <Icon name="bxs:graduation" size="32" />
      </span>
      <h2 class="title">B.Sc. Software Engineering</h2>
      <h3 class="subtitle m-0">Fontys University of Applied Sciences</h3>
      <h3 class="subtitle m-0 mb-2">2018-2021 & 2025 (7x Semester)</h3>
      <p>
        Den Großteil der Kurse mit exzellenten Noten abgeschlossen, bevor ich
        mich aufgrund einer medizinischen Situation, die zu diesem Zeitpunkt
        nicht berücksichtigt werden konnte, exmatrikulierte.
      </p>
    </div>
    <div class="column">
      <span class="icon is-large">
        <Icon name="famicons:book" size="32" />
      </span>
      <h2 class="title">Fachabitur</h2>
      <h3 class="subtitle m-0">Wuppertal-Ronsdorf</h3>
      <h3 class="subtitle m-0 mb-2">2009-2018</h3>
      <p>Erfolgreich mit guten Noten abgeschlossen.</p>
      <p>
        Entschied mich gegen die 13. Klasse (Vollabitur), um ein Jahr früher mit
        dem Studium zu beginnen!
      </p>
    </div>
  </div>
</section>
