---
const today = new Date();
---

<hr />

<footer class="columns">
	<p class="column has-text-centered">
		&copy; {today.getFullYear()} Lukas Weber | @SakulFlee. Alle Rechte vorbehalten.
	</p>
</footer>
