---
import FluidTransport from "./Projects/FluidTransport.astro";
import GeoLocation from "./Projects/GeoLocation.astro";
import HomeLab from "./Projects/HomeLab.astro";
import Orbital from "./Projects/Orbital.astro";
import PigVocalizations from "./Projects/PigVocalizations.astro";
import Tickify from "./Projects/Tickify.astro";
import TrafficLights from "./Projects/TrafficLights.astro";
import VodafoneQualitics from "./Projects/VodafoneQualitics.astro";
---

<section id="projects" class="has-text-centered">
  <h1 class="title is-1 mt-4 mb-6">Projekte</h1>
  <div class="columns m-0 p-0">
    <left class="column">
      <Orbital />
      <HomeLab />
      <Tickify />
      <FluidTransport />
    </left>
    <right class="column">
      <VodafoneQualitics />
      <PigVocalizations />
      <TrafficLights />
      <GeoLocation />
    </right>
  </div>
</section>
