@import "bulma";

@keyframes bounce {
  0%,
  10%,
  100% {
    top: 0vh;
  }
  5% {
    top: 4vh;
  }
}

#down-arrow {
  animation: bounce 5s infinite 5s;
}

#down-arrow svg {
  width: 6vh;
  height: 6vh;
}

#intro {
  background-image: linear-gradient(#280000, #000000);
}

.badge {
  border-radius: 1em;
  overflow: hidden;
}

