---
import Project from "../../Project.astro";
---

<Project
  pretitle="Universitätsprojekt"
  title="Fluid Transport Company"
  subtitle="Bewertung: Bestes Projekt des Jahres!"
>
  <p>
    Eine umfassende Full-Stack-Managementsoftware, die darauf ausgelegt ist, den gesamten betrieblichen Workflow eines großen Flüssigkeitstransportunternehmens zu automatisieren und zu zentralisieren. Das System unterstützte mehrere <strong>Benutzerinteraktionen</strong>, von der Bestellung durch Kunden über die Navigation für Fahrer bis hin zur Verfolgung durch die Finanz- und Logistikabteilungen. Alle Funktionen waren in einer einzigen <strong>einheitlichen Plattform</strong> vorhanden, die genau auf die Bedürfnisse der Kunden zugeschnitten war.
  </p>
  <br />
  <p>
    Die Lösung wurde mit modernen Unternehmenstechnologien entwickelt: <strong>Java</strong> und das <strong>Spring</strong>-Framework für eine skalierbare Backend-Entwicklung, sowie integriertes <strong>OpenStreetMap</strong> für fortschrittliche, dynamische Routing-Funktionen.
  </p>
</Project>
