---
import Project from "../../Project.astro";
---

<Project
  pretitle="Universitätsprojekt"
  title="GeoLocation"
  subtitle="Bewertung: Bestes Projekt des Jahres!"
>
  <p class="has-text-align-left">
    Wir ließen uns von dem Spiel „GeoGuesser“ inspirieren und verwandelten es in eine unterhaltsame, interaktive <strong>Android-App</strong> unter Verwendung eines <strong>Cloud-Stacks</strong> von <strong>IBM-Cloud</strong>. Nutzer konnten ihre eigenen Standorte mit Bildern einreichen, damit andere sie erraten konnten; es gab eine globale Rangliste und einige kleinere Community-Tools.
  </p>
</Project>
