---
import Project from "../../Project.astro";
---

<Project
  pretitle="Universitätsprojekt"
  title="Tickify"
  subtitle="Bewertung: Bestes Projekt des Jahres!"
>
  <p>
    Tickify sollte uns <strong>Web-Technologien</strong> wie <strong>HTML</strong>, <strong>CSS</strong> und <strong>PHP</strong> näherbringen. Wir mussten das Projekt ausdrücklich ohne clientseitigen Code implementieren. Das Endziel war die Erstellung eines <strong>Online-Shops</strong> für Event-Tickets, in dem Kunden Tickets bestellen, Zahlungen abwickeln sowie Bestellungen einsehen und verwalten konnten, während Event-Manager ihre Events erstellen und verwalten konnten.
  </p>
</Project>
