---
import Project from "../../Project.astro";
---

<Project
  pretitle="Universitätsprojekt"
  title="Ampelsystem-Management"
  subtitle="Bewertung: Bestes Projekt des Jahres!"
>
  <p>
    Wir mussten eine Managementsoftware für ein Ampelsystem implementieren, was uns die <strong>reaktive Programmierung</strong> näherbringen sollte. Wir begannen mit einer einfachen Ampelsimulation und erweiterten sie schrittweise zu einer viel <strong>komplexeren</strong> Simulation mit mehreren Straßen. Am Ende fügten wir sogar spezielle Bedingungen, Modi und spezialisierte Ampeln hinzu und konnten den <strong>simulierten</strong> Fahrzeug- und Fußgängerverkehr so effizient wie möglich halten. Die Anwendung wurde vollständig in <strong>Java</strong> geschrieben.
  </p>
</Project>
