---
import Project from "../../Project.astro";
---

<Project
  pretitle="Praktikumsprojekt"
  title="Vodafone Qualitics"
  subtitle="Bewertung: 9.8 / 10.0"
>
  <p>
    Während des obligatorischen Praktikumssemesters meines Studiengangs habe ich mit Vodafone Deutschland zusammengearbeitet. Ich habe eine Prototyp-Software entworfen und implementiert, die <strong>Raspberry Pis</strong> (und ähnliche kleine <strong>Edge-Geräte</strong>) verwendet, um die berüchtigten <em>letzten Meter</em> zu analysieren, über die ein ISP keine Kontrolle hat: Vom Straßenanschluss bis zum Hausanschluss des Kunden. Die Software sollte <strong>vollautomatisch</strong> funktionieren. Alles, was der Kunde tun musste, war, das Gerät in Empfang zu nehmen und an seinen Router anzuschließen. Die <strong>Tests</strong>, die das Gerät durchführte, konnten einfach entworfen werden. Jeder Kunde erhielt eine <strong>spezialisierte Sammlung</strong> von Tests, die speziell auf <strong>seine</strong> gemeldeten Probleme zugeschnitten waren. Es wurden genügend Daten gesammelt und <strong>automatisch analysiert</strong>, um Probleme genau zu lokalisieren, <strong>ohne</strong> mühsame Technikertermine. Die Software konnte eine Reihe gängiger Heimnetzwerkprobleme identifizieren, wie z. B. unzureichende Bandbreite, Netzwerküberlastung, lückenhafte Verbindungen, teilweise defekte ISP-Leitungen, Routing-Probleme, Interferenzen und viele mehr. Eine <strong>Web-Oberfläche</strong> wurde für den Kunden und den ISP bereitgestellt, um einfach zu sehen, was vor sich geht und welche Fehlerbehebungen empfohlen werden. Der gesamte Stack wurde mit <strong>Rust</strong>, <strong>HTML</strong>, <strong>SASS</strong>, <strong>Figma</strong>, <strong>Visual Paradigm</strong> und <strong>verschiedenen Sprachen</strong> für die Testsuiten erstellt.
  </p>
</Project>
